<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>

    <div class="navbar">

      <div class="nav-left">
        <h1>Bloggish App</h1>
      </div>

      <div class="nav-right">
        <% if (isLogin) { %>
          <a class="hideOnMobile" href="/blog/show">My Blogs</a>
          <a class="hideOnMobile" href="/blog/feed">Feed</a>
          <!-- <a onclick=Logout() href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
          </a>
        <div id="Logout-div">
          <p class="cancel-sign" onclick="toggleLogoutDiv(event)">X</p>
          <a id="logout" onclick=Logout() href="/user/logout">LogOut</a>
        </div> -->
        <a onclick=Logout() href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </a>
      <div id="Logout-div">
        <a id="logout" onclick=Logout() href="/user/logout">LogOut</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
        </svg>
        <p class="cancel-sign" onclick="toggleLogoutDiv(event)">X</p>
      </div>
        <% } else {%>
          <a class="hideOnMobile" href="/user/register">Register</a>
          <a class="hideOnMobile" href="/user/login">Login</a>
        <% } %>
        <a class="menu-button" onclick=showSidebar() href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#ffffff"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a>
      </div>
      <div class="sidebar">
        <a onclick=hideSidebar() href="#"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" ><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a>
        <a class="side-btns" href="/blog/show">My Blogs</a>
        <a class="side-btns" href="/blog/feed">Feed</a>
        <a class="side-btns" href="/user/register">Register</a>
        <a class="side-btns" href="/user/login">Login</a>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="top-header row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/hero-img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 main-txt">Let's Write Your Own Story</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/blog/create"><button type="button" class="btn btn-dark btn-lg px-4 me-md-2 create-btn" fdprocessedid="rbo61o">Create Blog</button></a>
          </div>
        </div>
      </div>

      <!-- <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 mx-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/laptop.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Organize your thoughts</h3>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/pen.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Easy to write</h3>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/images/specs.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Save Paper, Let your ideas coming</h3>
            </div>
          </div>
        </div>
      </div> -->
      
    <div class="main-content mt-5">
      <div class="side-group">
        <h2>Topics</h2>
        <a href="blog/feed">All</a>
        <% if(locals.topics){ %>
          <% topics.forEach(topic => { %>
            <a href="/blog/feed/<%= topic.name %>"><%= topic.name %></a>
          <% }) %>
        <% } %>
      </div>
      <div class="right-side">
        <p>Create Your</p>
        <p>Own Topic</p>
        <a href="/create-topic"><svg class = "add-sym" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg></a>
      </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

  </div>
    <script>
      function showSidebar(){
          const sidebar = document.querySelector('.sidebar')
          sidebar.style.display = 'flex'
      }
      function hideSidebar(){
          const sidebar = document.querySelector('.sidebar')
          sidebar.style.display = 'none'
      }

      function Logout(event) {
        const logoutDiv = document.querySelector('#Logout-div');

        if (logoutDiv.style.display === "flex") {
            logoutDiv.style.display = "none";
        } else {
            logoutDiv.style.display = "flex";
            logoutDiv.style.flexDirection = "row";
            logoutDiv.style.alignItems = "center";
            logoutDiv.style.justifyContent = "center";
        }
      }

      function toggleLogoutDiv(event) {
          document.querySelector('#Logout-div').style.display = "none";
      }

    </script>
</body>
</html>
