<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login Page</title>
</head>
<body>
    <div class="container-1">
        <h1>Login</h1>
        <% if (locals.error) { %>
          <p id="error" class="login-error"><%=locals.error %></p>
        <% } %>
        <form action="/user/login" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
<script>
  // Add the 'show' class to trigger the transition
  document.addEventListener("DOMContentLoaded", () => {
    const errorElement = document.getElementById("error");
    setTimeout(() => {
      errorElement.classList.add("show");
    }, 100); // Small delay to ensure the transition effect is noticeable
  });
</script>
</html>