/* Global reset for padding and margin */
body, h1 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.nav {
    height: 15rem;
    background-color: rgb(42, 41, 41);
    color: white; 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between; */
}

.nav div{
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-content{
    font-family: "Lavishly Yours", serif;
    font-size: 3rem;
    font-weight: 400;
    font-style: normal;
}

.nav p a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.home-btn{
    background-color: rgb(42, 41, 41);
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
}

.home-btn a{
    color: white;
}

/* Feed component styles */
.feed {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #333;
    color: white;
    position: relative; /* Needed for absolute positioning of the like button */
    border-radius: 20px;
}

.feed-btn a{
    color: white;
    text-decoration: none;
}

.feed-image {
    max-width: 10rem;
    height: 10rem;
    display: block;
    margin-bottom: 1rem;
    object-fit: cover;
}

.feed-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* position: relative; Ensures the like button is positioned within this context */
}

.feed-content p {
    margin: 0 0 2rem 0; /* Space for the like button */
    color: rgb(221, 95, 22);
}

.like-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem;
    margin: auto 16px 12px auto;
    background-color: #ff4500;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
}

.user-name {
    display: inline;
    color: skyblue;
}

.topics{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* border: 1px solid red; */
    margin: 1rem;
    overflow-y: auto; /* Make sidebar scrollable */
}

.topics a{
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: #333;
    /* background-color: #ff4500; */
}

.topics a:hover{
    color: #f1de0d;
}

@media (max-width: 500px) {
    .like-button {
        width: 3rem;
        height: 2rem;
        position: absolute;
        padding: 0.5rem 1rem;
        margin: auto 10px 8px auto;
        border-radius: 0.2rem;
        background-color: green;
    }

    .like-link {
        font-size: 0; /* hides text */
    }
    
    .like-link::before {
        content: ❤; 
        font-size: 1.5rem;
    }
}