*{
    padding: 0;
    margin: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Lato', 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
  
}

/* other color #00D0FF */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 10px;
  background-color: #FF6C23;
  color: white;
}

.nav-left {
  flex: 1; /* Takes as much space as possible */
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right a{
  padding-right: 10px;
  margin-left: 30px; /* Adjust spacing between links */
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.top-header{
  margin-left: 3rem;
  margin-right: 3rem;
}

.create-btn{
  background-color: black;
} 

.main-txt {
  font-size: 4rem;
}

.body-content {
  display: flex;
  flex-direction: row;
  gap: 20rem;
  height: 40rem;
  background-color: bisque;
  color: red;
  /* font-weight: 800; */
}


.main-content{
  display:flex;
  margin-top: 2px;
  /* gap: 10rem; */
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}

.topic-list{
    background-color: black;
    color: white;
    border: solid 1px grey;
    
}

.tablelist{
    height: 30rem;
    width: 40%;
    /* background-color: rgb(192, 146, 235); */
    border: solid 2px blue;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 2px;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 3rem;
    height: 30rem;
    width: 60%;
    /* background-color: rgb(86, 244, 115); */
    /* border: solid 2px blue; */
    border: solid 2px grey;
    border-radius: 2%;
    font-weight: bold;
}

.add-sym{
  color: black;
  height: 10rem;
  width: 10rem;
}

.topic-btn {
  background-color: blue;
  font-size: 1.5rem;
  border-radius: 5%;
}

.start-btn {
  background-color: blue;
  font-size: 1.5rem;
  border-radius: 5%;
}

.side-group{
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
  gap: 10px;
  padding: 5px;
  width: 250px;
  border-radius: 10px;
  overflow-y: auto; /* Make sidebar scrollable */
  max-height: 480px;
  box-shadow: 0 0 10px rgb(255, 111, 0), 0 0 20px rgb(255, 111, 0), 0 0 30px rgb(255, 111, 0), 0 0 40px rgb(255, 111, 0);

}

.side-group a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.side-group a:hover {
  color: #f1de0d;
}

footer{
  background-color: #FFF6E9;
}

.card-container {
  position: relative;
  overflow: hidden;
}

.card {
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease-in-out;
}

.cardtext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Slight background overlay */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.card-container:hover .card {
  opacity: 0; /* Image disappears */
}

.card-container:hover .cardtext {
  opacity: 1; /* Text appears */
}

.sidebar{
  position:fixed;
  top: 0;
  right: 0;
  height:100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar a{
  height: 50px;
  width: 100%;
}

.sidebar .side-btns{
  text-decoration: none;
  color: black;
  padding-left: 4px;
  padding-top: 10px;
}

.sidebar a:hover{
  background-color: #f0f0f0;
}

@media (max-width : 900px) {
  .add-sym{
    height: 6rem;
    width: 6rem;
  }
  .right-side{
    width: 50%;
    font-size: 2.5rem;
  }
}

@media (max-width : 750px) {
  .add-sym{
    height: 5rem;
    width: 5rem;
  }
  .right-side{
    width: 45%;
    font-size: 2rem;
  }
}

@media (max-width : 650px) {
  .right-side{
    display: none;
  }
  .side-group a:last-child{
    margin-bottom: 3rem;
  }
  .main-content{
    justify-content: center;
  }
}


.menu-button{
  display: none;
}

@media (max-width : 600px) {
  .nav-right .menu-button{
    display: block;
  }
  .nav-right .hideOnMobile{
    display: none;
  }
} 

.cancel-sign {
  height: 20%;
  top: 0;
  right: 0;
  cursor: pointer;
  font-weight: bold;
  text-align: right;
  color: black;
}

.cancel-sign:hover{
  color: red;
}

#Logout-div {
  display: none; /* Initially hidden */
  position: absolute;
  top: 40px; 
  right: 10px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 100;
  gap: 2px;
}

#Logout-div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
